<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://propertymanagement1-eefsggcmhzfwhtfr.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fbff3bf8-779f-4456-a81e-8770a15ddc19/resourceGroups/practiceprojects/providers/Microsoft.Web/sites/PropertyManagement1</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://propertymanagement1-eefsggcmhzfwhtfr.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>